.tags
*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
/.*.mk
/.gems/
/.idea/
/.refcache
/.venv/
/.vscode/
/*-[0-9][0-9].xml
/lib
/node_modules/
/versioned/
archive.json
cddl/cwt-em-autogen.cddl
cddl/epoch-marker-autogen.cddl
cddl/examples/1-cwt.cbor
cddl/examples/1-cwt.pretty
cddl/examples/1.cbor
cddl/examples/1.pretty
draft-ietf-rats-epoch-markers.xml
Gemfile.lock
package-lock.json
report.xml
!requirements.txt
